<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
             xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


   
    <beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
                  destroy-method="close">
        <beans:property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
        <beans:property name="url" value="jdbc:oracle:thin:@192.168.21.241:1521/pdb1" />
        <beans:property name="username" value="interacttdp" />
        <beans:property name="password" value="interacttdp99" />
    </beans:bean>
   
        <!-- DEFINICION CONFIGURACION HIBERNATE 4 (No se necesita el hibernate.cfg.xlm para traer la Session)-->
        <beans:bean id="hibernate4AnnotatedSessionFactory"
                    class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <beans:property name="dataSource" ref="dataSource" />
        
        <beans:property name="hibernateProperties">
            <beans:props>
                <!--<beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect-->
                <beans:prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect
                </beans:prop>
                <beans:prop key="hibernate.show_sql">true</beans:prop>
            </beans:props>
        </beans:property>
        
        
        <!-- ::::::::::::::::::::: MAPEO DE ENTIDADES :::::::::::::::::::::::::::::-->
        <beans:property name="mappingResources">
            <beans:list>
                   <beans:value>Usuario.hbm.xml</beans:value>
            </beans:list>
        </beans:property>
        
    </beans:bean>
	
     <!-- ::::::::::::::::::::::INYECCION DAOS CON SESSION::::::::::::::::::::::-->
    <beans:bean id="usuarioDAO" class="com.origen.hibernate.dao.UsuarioDAOImpl">
        <beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </beans:bean>
    
    <!--::::::::::::::::::::::INYECCION DE SERVICIOS CON DAOS: Cada servicio contendra' diversos DAO de cada Tabla , son especie de ejb -->
    <beans:bean id="servicioPrueba" class="com.origen.hibernate.service.ServicioPruebaImpl">
        <beans:property name="usuarioDAO" ref="usuarioDAO"></beans:property>
    </beans:bean>


    <!--  SCANEO DE LA PAQUETERIA BASE (Debe Incluir Los Servicios ) -->
    <context:component-scan base-package="com.origen.hibernate" />
	
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Transaccionabilidad para los que poseer la etiqueta @Tranasaccion, indican que esta'n en Sesion -->	
    <beans:bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </beans:bean>
      
</beans:beans>